#bar{
  width:300px;
  height:10px;
  position:relative;
  background-color:#cccccc;
  border-radius:15px;
  margin:100px auto;

  #draggable{
    width:20px;
    height:20px;
    position:absolute;
    top:-5px;
    left:0;
    background-color:	#6c0303;
    border-radius:50%;
  }

  #progress{
    height:10px;
    width:0;
    position:absolute;
    top:0;
    left:0;
    background-color:	#d89024;
    max-width:300px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
  }
}

